@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

html {
    //Fix Scrollbar to look better
    ::-webkit-scrollbar {
        width: 10px;
    }

    ::-webkit-scrollbar-track {
        background: rgba(0, 0, 0, 0.5);
    }

    ::-webkit-scrollbar-thumb {
        background: rgba(255, 255, 255, 0.5);
    }

    ::-webkit-scrollbar-thumb:hover {
        background: rgba(255, 255, 255, 0.7);
    }
    body {
        background-color: rgba(16,40,50,255);
        color: white;
        font-family: 'Varela Round', sans-serif;
        font-size: 1.75em;
        text-align: center;

        .Top {

            .links {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                gap: 20px;

                .link {
                    display: inline-flex;
                    align-items: center;
                    color: white;
                    text-decoration: none;
                    font-size: 20px;
                    padding: 10px;

                    .icon {
                        margin-right: 10px;
                        width: 20px;
                        height: auto;
                    }

                    &.linkedin {
                        background-color: rgb(0, 119, 181);
                        border: rgb(0, 119, 181) solid 1px;

                        &:hover {
                            cursor: pointer;
                            background-color: rgba(0, 172, 237, 0.5);
                        }
                    }

                    &.discord {
                        background-color: rgb(114, 137, 218);
                        border: rgb(114, 137, 218) solid 1px;

                        &:hover {
                            cursor: pointer;
                            background-color: rgba(114, 137, 218, 0.5);
                        }
                    }

                    &.github {
                        background-color: black;
                        border: rgb(0, 0, 0) solid 1px;

                        &:hover {
                            cursor: pointer;
                            background-color: rgba(0, 0, 0, 0.5);
                        }
                    }
                }


            }
        }

        .roadmap {

            #card-container {

                display: flex;
                flex-direction: column;
                justify-items: center;

                margin-left: auto;
                margin-right: auto;

                width: min(80vh, 80vw);

                .card {
                    margin: 10px;
                    background-color: rgba(16,40,60, 0.7);
                    border: rgba(0, 0, 0, 0.5) solid 1px;
                    transition: transform 0.3s;

                    &:hover {
                        transform: scale(1.1);
                    }

                    .title-row {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        padding: 5px;
                        .status {
                            display: flex;
                            align-items: center;
                            padding: 5px;
                            margin: 5px;
                            border-radius: 5px;
                            background-color: rgba(0, 0, 0, 0.5);
                            color: white;
                            font-size: 75%;

                            &.planned {
                                color: magenta;
                            }

                            &.in-prog {
                                color: yellow;
                            }

                            &.done {
                                color: lightgreen;
                            }
                        }

                        .title {
                            font-weight: bold;
                            margin: 0px;
                        }

                        .icon {
                            width: 20px;
                            height: 20px;
                        }
                    }
                }
            }
        }
    }
}